.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .popup__body {
        padding-top: 53px;
    }
}